[submodule "Libs/LibRu"]
	path = Libs/LibRu
	url = https://github.com/ru-the-dev/LibRu
[submodule "Libs/LibDataBroker-1.1"]
	path = Libs/LibDataBroker-1.1
	url = https://github.com/tekkub/libdatabroker-1-1
